<img src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/6/005/08e/358/15fb217.jpg" class="profile_pic"/>
<div class="rating_list">
<a href="/rating_list"><h6>Ratings List</h6></a>
</div>
<h4>My Website</h4>
<div class="page_header">
	<h1>Rate My Website</h1>
</div>

<form action="/rating" method="post" class="form-horizontal" role="form">

	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" id="name" placeholder="Justin Case" name="name" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" id="email" placeholder="Cool@dude.com" name="email" class="form-control">
		</div>
	</div>

	<div class="form-group">
	<label for="design" class="col-sm-offset-1 col-sm-1">Design</label>
	<label class="radio-inline">
	<input type="radio" name="design" value="1">1(Worst)
	</label>
	<label class="radio-inline">
	<input type="radio" name="design" value="2">2
	</label>
	<label class="radio-inline">
	<input type="radio" name="design" value="3">3
	</label>
	<label class="radio-inline">
	<input type="radio" name="design" value="4">4
	</label>
	<label class="radio-inline">
	<input type="radio" name="design" value="5">5(Best)
	</label>
	</div>

	<div class="form-group">
	<label for="content" class="col-sm-offset-1 col-sm-1">Content</label>
	<label class="radio-inline">
	<input type="radio" name="content" value="1">1(Worst)
	</label>
	<label class="radio-inline">
	<input type="radio" name="content" value="2">2
	</label>
	<label class="radio-inline">
	<input type="radio" name="content" value="3">3
	</label>
	<label class="radio-inline">
	<input type="radio" name="content" value="4">4
	</label>
	<label class="radio-inline">
	<input type="radio" name="content" value="5">5(Best)
	</label>	
	</div>

	<div class="form-group">
	<label for="speed" class="col-sm-offset-1 col-sm-1">Speed</label>
	<label class="radio-inline">
	<input type="radio" name="speed" value="1">1(Worst)
	</label>
	<label class="radio-inline">
	<input type="radio" name="speed" value="2">2
	</label>
	<label class="radio-inline">
	<input type="radio" name="speed" value="3">3
	</label>
	<label class="radio-inline">
	<input type="radio" name="speed" value="4">4
	</label>
	<label class="radio-inline">
	<input type="radio" name="speed" value="5">5(Best)
	</label>	
	</div>

	<div class="form-group">
	<label for="overall" class="col-sm-offset-1 col-sm-1">Overall</label>
	<label class="radio-inline">
	<input type="radio" name="overall" value="1">1(Worst)
	</label>
	<label class="radio-inline">
	<input type="radio" name="overall" value="2">2
	</label>
	<label class="radio-inline">
	<input type="radio" name="overall" value="3">3
	</label>
	<label class="radio-inline">
	<input type="radio" name="overall" value="4">4
	</label>
	<label class="radio-inline">
	<input type="radio" name="overall" value="5">5(Best)
	</label>	
	</div>

	<input type="submit" value="Save" class="btn btn-primary">

</form>